*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Teko:wght@300&display=swap");
body,
button,
input {
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Teko", sans-serif;
}

body {
  background-color: aqua;
}
@media (max-width: 600px) {
  body {
    background-color: salmon;
  }
}
@media (max-height: 300px) {
  body {
    background-color: deepskyblue;
  }
}
/* to add the same color for max-height & max width > (),() */

h1 {
  font-size: 55px;
  text-align: center;
}
h2 {
  font-size: 30px;
  text-align: center;
}
form {
  text-align: center;
}

p {
  text-align: center;
}
